extends templates/layout

block content
	section.hero.is-large.hero-image
		//div.hero-image-overlay
		div.hero-body
			//-div.container(style="padding:3rem;background-color:#00000060;margin-left:-1.5rem;margin-right:-1.5rem")
			div.container.hero-overlay
				div.columns
					div.column
						h1.title.is-size-3.has-text-white.hero-overlay-text Every home deserves protection.
						//-h1.subtitle.is-size-5.has-text-white.hero-overlay-text Title One Agency is your best option when it comes to protecting your future home.
						h1.subtitle.is-size-5.has-text-white.hero-overlay-text Comprehensive title insurance protection and professional escrow services.
					div.column.has-text-centered
						//-h1.subtitle.has-text-white.hero-overlay-text Title One Agency is your best option when it comes to protecting your future home.
						a.button.is-large.is-primary(style="border-style:solid;border-color:white;") Get a Quote
	section.hero.is-medium
		div.hero-body.container
			h1.title.is-size-2.has-text-centered Why choose Title One Agency?
			p.is-size-5 We provide comprehensive title insurance protection and professional settlement (escrow) services for residential and commercial Real Estate at affordable prices.
	section.section.title-one-gradient
		div.container
			h1.has-text-centered.title.is-size-2 What people are saying
			div.columns
				div.column
					div.card.card-deck(style="background-color:#002169; border-radius:25px")
						div.card-header(style="box-shadow:none; border-bottom: 2px solid #ffffff80")
							p.card-header-title.is-size-5.has-text-white Above and beyond!
						div.card-content
							p.title.is-size-6.has-text-white I am a Sr. Loan officer for a highly ranked mortgage lender. Some of my purchase loan transactions are done w/ Title One being the title and escrow company involved. Their communication and teamwork is top of the line. The keep every transaction very smooth flowing. They help with what we ask them to and go above and beyond to work directly with myself and the realtor to make sure we all get the transaction closed as needed. As most of you in the real estate, mortgage, title etc. industries know, having that communication and teamwork is of the utmost importance. They are integral at assisting that buyer in achieving their dream!
						div.card-footer(style="border-top:none")
							p.card-footer-item.subtitle.is-size-6.has-text-grey-lighter Bradley Lane
				div.column
					div.card.card-deck(style="background-color:#002169; border-radius:25px")
						div.card-header(style="box-shadow:none; border-bottom: 2px solid #ffffff80")
							p.card-header-title.is-size-5.has-text-white Accessible and Accommodating!
						div.card-content
							p.title.is-size-6.has-text-white We have used several local title companies over the years; Tammy Gildersleeve is by far the BEST we have encountered. She was accessible and returned calls immediately. She is articulate and answered questions concisely yet thoroughly. She managed the process with precision, yet was flexible and accommodating when we had to make timing changes. Tammy is the consummate professional and a most pleasant person to deal with! I will not hesitate to use her again nor recommend her to friends and associates. Thank you Tammy!
						div.card-footer(style="border-top:none")
							p.card-footer-item.subtitle.is-size-6.has-text-grey-lighter Hazel Beard

						
			//-div.columns.is-multiline
				div.column.is-half
					div.card.card-hover
						div.card-image
							img(src="/images/pic01.jpg")
						div.card-content
							div.content fore sint tamen elit nisi magna legam sint noster anim nulla ipsum noster legam
				div.column.is-half
					div.card.card-hover
						div.card-image
							img(src="/images/pic02.jpg")
						div.card-content
							div.content fore sint tamen elit nisi magna legam sint noster anim nulla ipsum noster legam
	section.section.container
		h1.title.is-size-2.has-text-centered Our Partners
		div.columns.is-vcentered.is-centered
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/Cutler-Img.png")
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/CC-Mortgage.jpg")
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/First-American-title.jfif")
		
		
