extends templates/layout

block content
	section.hero.is-large.hero-image
		//div.hero-image-overlay
		div.hero-body
			//-div.container(style="padding:3rem;background-color:#00000060;margin-left:-1.5rem;margin-right:-1.5rem")
			div.container.hero-overlay
				div.columns
					div.column
						h1.title.is-size-3.has-text-white.hero-overlay-text Every home deserves protection.
						//-h1.subtitle.is-size-5.has-text-white.hero-overlay-text Title One Agency is your best option when it comes to protecting your future home.
						h1.subtitle.is-size-5.has-text-white.hero-overlay-text Comprehensive title insurance protection and professional escrow services.
					div.column.has-text-centered
						//-h1.subtitle.has-text-white.hero-overlay-text Title One Agency is your best option when it comes to protecting your future home.
						a.button.is-large.is-primary(style="border-style:solid;border-color:white;") Get a Quote
	section.hero.is-medium
		div.hero-body.container
			h1.title.is-size-2.has-text-centered Why choose Title One Agency?
			p.is-size-5 We provide comprehensive title insurance protection and professional settlement (escrow) services for residential and commercial Real Estate at affordable prices.
	section.hero.title-one-gradient.is-medium
		div.hero-body.container
			div.columns.is-multiline
				div.column.is-half
					div.card.card-hover
						div.card-image
							img(src="/images/pic01.jpg")
						div.card-content
							div.content fore sint tamen elit nisi magna legam sint noster anim nulla ipsum noster legam
				div.column.is-half
					div.card.card-hover
						div.card-image
							img(src="/images/pic02.jpg")
						div.card-content
							div.content fore sint tamen elit nisi magna legam sint noster anim nulla ipsum noster legam
	section.section.container
		h1.title.is-size-2.has-text-centered Our Partners
		div.columns.is-vcentered.is-centered
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/Cutler-Img.png")
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/CC-Mortgage.jpg")
			div.column.is-one-third.has-text-centered
				a(href="/")
					img(src="/images/First-American-title.jfif")
		
		
