footer.footer
	div.container
		div.columns.is-mobile
			div.column
				ul
					li
						a(href='/') Home
					li 
						a(href="/services") Services
					li Why us?
					li Order Title Services
					li Contact Us
			div.column
				span.is-pulled-right This is the copyright stuffs
