footer.footer
	div.container
		div.columns.is-mobile
			div.column
				ul
					li Home
					li Contact
					li Do something
					li Go here
			div.column
				span.is-pulled-right This is the copywrite stuffs
